# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.idea/vcs.xml

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# log files
*.log

# Sphinx documentation
docs/_build/

# virtual environments
venv/

# private instance files
instance/

# vim swap files
.*.swp

# pytest
.pytest_cache/

# exported data
found_cameras.txt
